.footer {
  display: flex;
  align-items: stretch;
  justify-content: center;

  &__content {
    width: 65%;
    padding: 55px 30px 55px 10vw;
    background-color: $brown;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    &-infos {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      font-family: $poppins;
      margin-bottom: 44px;

      a:not(.btn),
      span {
        margin-bottom: 10px;
        font-size: 16px;
        color: $white;
        text-decoration: none;
      }
    }

    &-socials {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      font-family: $poppins;
      margin-bottom: 44px;

      span {
        margin-bottom: 10px;
        font-size: 16px;
        color: $white;
        text-decoration: none;
      }
      .socials {
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__item {
          margin-right: 40px;

          &-link {
            color: $white;
            font-size: 30px;
            text-decoration: none;
          }
        }
      }
    }

    &-rights,
    &-legals {
      font-family: $poppins;
      margin-bottom: 15px;
      font-size: 16px;
      color: $white;
      text-decoration: none;
    }

    .btn {
      position: absolute;
      top: 55px;
      right: 30px;
    }
  }

  &__map {
    width: 35%;
    background-color: $brownLight;
  }
}
