@import "project/header";
@import "project/footer";
@import "project/service";
@import "project/block";
@import "project/banner";
@import "project/btn";
@import "project/general";
@import "project/offers";
