@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7i0ac3');
  src:  url('fonts/icomoon.eot?7i0ac3#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?7i0ac3') format('truetype'),
  url('fonts/icomoon.woff?7i0ac3') format('woff'),
  url('fonts/icomoon.svg?7i0ac3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-pin:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-tick:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
  color: #9f7a6f;
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-booking:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-heart:before {
  content: "\e90a";
}
